<ion-header>
  <ion-toolbar>
    <ion-title>IniciarSesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form onsubmit="processForm(event)">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked">Correo <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
          </ion-item>
          
         </ion-list>

        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin">Iniciar Sesion</ion-button>
        </div>
        
        <div class="ion-padding" >
            <ion-button expand="block" type="submit" class="ion-no-margin">Crear Cuenta</ion-button>
          </div>

      </form>
</ion-content>
