<ion-header>
  <ion-toolbar>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment color="danger"  scrollable>
    <ion-segment-button checked layout="icon-end">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-segment-button>
    <ion-segment-button layout="icon-end">
      <ion-icon name="beer"></ion-icon>
      <ion-label>Licos</ion-label>
    </ion-segment-button>
    <ion-segment-button layout="icon-end">
      <ion-icon name="Person"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-segment-button>
  </ion-segment>

 </ion-content>
